<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">Instrutech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Catálogo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/exibicao">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/form">Formulário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Sobre nós</a>
            </li>
            <li class="search-bar">
                <form role="search">
                    <input type="text" placeholder="  Pesquisar" class="search">
                    <button type="submit" class="btn-search">Buscar</button>
                </form>
            </li>
        </ul>
    </div>
</nav>