
/*Geral*/
* {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

nav {
    background-color: #ff6b35;
    border: 1px solid #000;
}

.nav li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-left: 50px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h5 {
    text-align: center;
}

.card {
    width: 15rem;
}

.card:hover {
    width: 100%;
    transition: 530ms ease;
}

.card-body {
    background-color: #000;
    color: #f5f5f5;
}

footer {
    background-color: #000;
    color: #61efeb;
    border: 2px solid #61efeb;
}

/*Sobre nós*/
#about-us p{
    margin: 20px 20px;
}

/*Catálogo*/

/*Instrumento Page*/
